@import "_global";
// start swiper
.slider {
  h1 {
    text-align: center;
    color: $sec-color;
    padding-top: 50px;
    font-size: 3em;
    font-weight: 600;
    @media (min-width: $xx-small) and (max-width: $x-small) {
      font-size: 2em;
    }
  }
}
.carousel {
  background: transparent;
  transform: translateY(30%);
}
.flickity-page-dots,
.flickity-prev-next-button.next,
.flickity-prev-next-button.previous {
  display: none !important;
}
.carousel-cell {
  margin-right: 20px;
  overflow: hidden;
}
.cta {
  border: none;
  background: none;
  @media (min-width: $xx-small) and (max-width: $x-small) {
    margin-left: 70px;
  }
  @media (min-width: 769px) and (max-width: $lg) {
    margin-left: 30px;
  }
  a {
    text-decoration: none;
    color: $sec-color;
    font-size: 1.7em;
    letter-spacing: 2px;
    font-weight: 500;
    @media (min-width: $xx-small) and (max-width: $x-small) {
      font-size: 1em;
    }
  }
}
.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 10px;
  padding-right: 15px;
  text-transform: uppercase;
}
.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}
.cta:hover svg {
  transform: translateX(0);
}
.cta:active svg {
  transform: scale(0.9);
}
.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}
.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.carousel-cell img {
  display: block;
  height: 200px;
}
@media screen and (min-width: 768px) {
  .carousel-cell img {
    height: 400px;
  }
}
// end swiper
